Tests: manage-pools
Depends: pmdk-tools

Tests: daxio-version
Depends: pmdk-tools
Restrictions: allow-stderr

Tests: rpmemd-version
Depends: pmdk-tools
Restrictions: allow-stderr, skippable

Tests: examples-libpmem
Depends: gcc, libc6-dev, libpmem-dev

Tests: examples-libpmemblk
Depends: gcc, libc6-dev, libpmemblk-dev

Tests: examples-libpmemlog
Depends: gcc, libc6-dev, libpmemlog-dev

Tests: examples-libpmempool
Depends: gcc, libc6-dev, libpmempool-dev
