Tests: manage-pools
Depends: pmdk-tools

Tests: daxio-version
Depends: pmdk-tools
Restrictions: allow-stderr

Tests: examples-libpmem
Depends: gcc, libc6-dev, libpmem-dev

Tests: examples-libpmem2
Depends: gcc, libc6-dev, libpmem2-dev

Tests: examples-libpmempool
Depends: gcc, libc6-dev, libpmempool-dev
